/*
  MARK: LAYOUT --------------------------------------------
*/


/*
  MARK: RESET --------------------------------------------
*/
*:before,
*:after,
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

/*
  MARK: WRAPPER ----------------------------------
*/
app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  gap: 1rem;
  padding: 1rem;
  height: 100dvh;
  overflow: hidden;
}

/*
  MARK: ALL PANELS ----------------------------------
*/
app-container > * {
  display: grid;
  overflow: hidden;
  align-content: start;
}

app-logo,
app-ad,
sign-in,
powered-by,
social-media {
  padding-block: .5rem;
  padding-inline: 1rem;
}

app-logo {
  max-width: 10rem;
}

social-media {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  justify-content: start;
  user-select: none;

  a {
    min-width: 1.5rem;
    text-decoration: none;
  }
}


/*
  MARK: NAV ----------------------------------
*/
nav {
  display: grid;
  justify-content: start;
  user-select: none;
  overflow-x: auto;
  /* negate normal gap to touch tabs to tab content */
  margin-block-end: -1rem;

  ul {
    list-style: none;
    display: grid;
    margin: 0;
    gap: .5em;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;

    li {
      display: grid;
      justify-content: center;
    }

    label {
      padding-block: .5rem;
      padding-inline: 1rem;
    }

    input {
      display: none;
    }
  }
}

/* Map tab label to tab article */
nav:has(#radio01:checked) ~ main article#tab01,
nav:has(#radio02:checked) ~ main article#tab02,
nav:has(#radio03:checked) ~ main article#tab03,
nav:has(#radio04:checked) ~ main article#tab04,
nav:has(#radio05:checked) ~ main article#tab05 {
  display: grid;
}

/* nav:has(input:checked) ~ main article {
  display: grid;
} */


/*
  MARK: HEADER/FOOTER ----------------------------
*/
header,
footer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: column;
  grid-column: 1 / -1;
  align-items: center;
  user-select: none;
  border-radius: .3rem;
}

/*
  MARK: TABS ----------------------------------
*/
article {
  display: none;
  overflow: hidden;

  svg {
    max-width: 17rem;
  }
}

h3,
h4 {
  padding-left: 1rem;
  letter-spacing: .05rem;
}


/*
  MARK: LIST ITEMS ---------------------------------
*/
list-item {
  display: grid;
  grid-auto-flow: column;
}

/*
  MARK: LABELS -------------------------------------
*/
label {
  display: grid;
  grid-auto-flow: column;
}


/*
  MARK: SCROLLABLE
*/
section {
  display: grid;
  overflow: overlay;
  position: relative;
  overflow: auto;
}

h1, h2, h3, h4, h5, p {
  padding: 1rem 1rem 0 1rem;
}

figure img {
  width: 100%;
  min-height: 100%;
  position: relative;
}